@model CoinSaver.Models.Purchase

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Добавить покупку</h3>
    </div>
    <div class="panel-body">
        <form class="navbar-form" asp-action="Index">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input class="form-control" asp-for="PurchaseName" placeholder="Название" />
            <input class="form-control" asp-for="Price" placeholder="Цена" value=""/>
            <select class="form-control" asp-for="Reason" asp-items="@Html.GetEnumSelectList<CoinSaver.Models.PurchaseReason>()">
            </select>
            <select class="form-control" asp-for="Category" asp-items="@Html.GetEnumSelectList<CoinSaver.Models.PurchaseCategory>()">
                <option>Выберите категорию</option>
            </select>
            <button class="btn btn-success" type="submit">Добавить</button>
        </form>
    </div>
</div>

