@model CoinSaver.Models.IndexViewModel
@{
    ViewData["Title"] = "Home Page";
}

@if (Model != null)
{
    <div class="page-header">
        @Html.Partial("AddSpending", new CoinSaver.Models.PurNameVM { Name = Model.Name })
    </div>
    <div class="row">
        @Html.Partial("SpendingsTable", Model)
    </div>
}
else
{
    @Html.Partial("EnterName", new CoinSaver.Models.EnteredNameVM());
}
