@model CoinSaver.Models.IndexViewModel
@{
    ViewData["Title"] = "Добавить покупку";
}

<div class="page-header">
    @Html.Partial("AddSpending", new CoinSaver.Models.Purchase())
</div>
<div class="row">
    @{ var exec = @Model.Purchases.ToList(); }
    <p>Последние @exec.Count покупок:</p>
    @Html.Partial("SpendingsTable", exec)
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}