@model CoinSaver.Models.IndexViewModel
@{
    ViewData["Title"] = "Добавить покупку";
}

<div class="page-header">
    @Html.Partial("AddSpending", new CoinSaver.Models.Purchase())
</div>
<div class="row">
    @Html.Partial("SpendingsTable", Model.Purchases)
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}