@model CoinSaver.Models.PeriodVM
<div class="content">
    <div class="btn-toolbar">
        
        <div class="btn-group">
            <form class="form-inline" asp-action="Stat" method="get">
                <input hidden name="IsActive" checked="checked" value="true">
                <div class="form-group">
                    <label >Период:</label>
                    <input class="form-control" id="perStart" placeholder="Начало" asp-for="Start" />
                    <input class="form-control" id="perEnd"placeholder="Конец" asp-for="End" />
                </div>
                <div class="form-group">
                    <button class="btn btn-success" type="submit">Отфильтровать</button>
                </div>
            </form>
        </div>

        <div class="btn-group">
            <form class="form-inline" asp-action="Stat">
                <input hidden name="IsActive" value="false">
                <button class="btn btn-success" type="submit">Сбросить</button>
            </form>
        </div>
    </div>


</div>
